<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/structure.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
