<p>Salut, c'est un teste de l'outil socket.io avec Node Js et son module Handlebars en MVC</p>
<p>Clique <a href="/chat">ici</a> pour accéder au chat Socket.io !</p>
<p>Oh et il y a un second chat <a href="/chat2">ici</a> !</p>
<p>Et le teste de l'interaction avec la bdd, c'est <a href="/ajout-compte">ici</a> !</p>
