<form id="form-compte" action="">
  <input id="identifiantCompte" autocomplete="off" type="text" placeholder="Identifiant" />
  <input id="mdpCompte" autocomplete="off" type="password" placeholder="Mot de passe" />
  <button>Ajouter</button>
</form>

<table border="1" id="listeCompte">
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="/js/AjoutCompteClient.js"></script>
